.App {
  text-align: center;
  background-color: #313440;
  padding: 0;
  margin: 0;
}

.App-link {
  color: #58477d;
}

html, body {
  max-height: 100%;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #58477d;
}

h1 {
  font-family: 'Petit Formal Script', sans-serif;
  font-size: calc(18px + 2vmin);
  background-color: #313440;
  margin: 0;
  padding: 15px 15px 5px 0;
  color: #fff;
  text-align: center;
}

.listHeader {
  font-family: 'Petit Formal Script', sans-serif;
  font-size: calc(18px + 2vmin);
  background-color: #313440;
  padding: 25px 15px 10px;
  color: #fff;
  text-align: center;
}

h2 {
  font-family: 'Petit Formal Script', sans-serif;
  font-weight: 300;
  font-size: calc(10px + 2vmin);
  color: #313440;
  padding: 0;
  margin-bottom: 5px;
}

p {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 15px;
  padding: 3px;
  margin: 0;
}

img {
  border-radius: 5px;
}

footer {
  float: ;
}

.hamburger {
  color: #fff;
  background: #313440;
  font-size: calc(20px + 2vmin);
  float: left;
  padding: 20px 25px 20px 25px;
  border: none;
}

.powered {
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  padding: -10px 15px 5px 15px;
}

.venueList {
  background: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin-top: 0;
  background-color: #313440;
}

button {
  color: #fff;
}

button:hover {
  color: #313440;
  background-color: white;
}

input {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-content: center;
  width: 80%;
  font-size: 14px;
  font-family: 'Petit Formal Script', sans-serif;
}

.filter {
  background-color: #313440;
}

.filterH {
  padding-left: 40px;
}

/* Color change for placeholder text - not enough contrast */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #313440;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #313440;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #313440;
}

.hide {
  display: none;
}

.MuiPaper-root-17 {
  background-color: #313440 !important;
}

.MuiBackdrop-root-15 {
  background-color: rgba(0, 0, 0, 0) !important;
}